.button {
    font-size: 0.6rem;
    border: 1px solid black;
    background: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    &:hover {
        background: var(--main-color);
        color: #fff;
        border-color: var(--main-color);
        cursor: pointer;
    }
}
