.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img {
    padding: 1.5rem 1.5rem 0;
    width: 100%;
}

.name {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    margin-top: 1rem;
    font-size: 1rem;
}

.price {
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
}

.buttonWrapper {
    margin-top: 1rem;
}
