.linksSection {
    padding: 1rem 0;
    background-color: #efefef;
    padding-bottom: 2rem;
}

.innerLinksSection {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.footerLink {
    display: block;
    font-size: 0.75rem;
    color: var(--light-gray);
    text-decoration: none;
    margin-top: 5px;
    &:hover {
        color: var(--dark-gray);
    }
}

.title {
    margin-top: 1rem;
}

.cols {
    width: 100%;
    @media only screen and (min-width: 560px) {
        width: 33.33333333%;
    }

    @media only screen and (min-width: 760px) {
        width: 25%;
    }
}

.copywrite {
    padding: 15px;
}

.copywriteMessage {
    text-align: center;
    margin: 0;
    color: var(--dark-gray);
    font-size: 14px;
}
