.root {
    background-color: #eee;
    margin: 0 -1.5rem;
    padding: 1.5rem 1.5rem;
    padding-bottom: 1rem;
    @media only screen and (min-width: 580px) {
        width: 50%;
        margin: 0;
    }
}

.title {
    padding-top: 0;
}

.electornicInvoice {
    font-size: 0.75rem;
    font-weight: bold;
}

.invoicing {
    margin-top: 0.5rem;
    font-size: 0.75rem;
}
