.root {
  background-color: #eee;
  margin: 2rem -1.5rem;
  padding: 0.5rem 1.5rem;
}

.title {
  padding-top: 0;
}

.inputField {
  padding: 0.75rem;
  margin: 0.5rem 0;
  width: 100%;
}

.electornicInvoice {
  font-size: 0.75rem;
  font-weight: bold;
}

.checkboxField {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
}

.invoicing {
  margin-top: 0.5rem;
  font-size: 0.75rem;
}
