:root {
    --main-color: #ff9800;
    --light-gray: #737373;
    --dark-gray: #3e3e3e;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.separator {
    flex: 1;
}

.textareaField {
    padding: 0.75rem;
    margin: 0.5rem 0;
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
}

.inputFieldRoot {
    position: relative;
}

input,
textarea,
select {
    font-size: 1rem;
    @media only screen and (min-width: 580px) {
        font-size: 11px;
    }
}

input,
textarea {
    &::placeholder {
        color: var(--light-gray);
    }
}

.inputField {
    padding: 0.75rem;
    margin: 0.5rem 0;
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
}

.formError {
    border-color: red !important;
}

.formErrorMessage {
    margin: 0;
    font-size: 10px;
    color: red;
    position: absolute;
    bottom: -6px;
}

.selectField {
    padding: 0.75rem;
    margin: 0.5rem 0;
    width: 100%;
    border: 1px solid black;
    border-radius: 0;
    border-radius: 3px;
    background-color: #fff;
    color: var(--light-gray);
}

.checkboxField {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    display: flex;
}

.radioField {
    width: 100%;
    margin: 0.5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: var(--dark-gray);
}

.full-height-page {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (min-width: 580px) {
        min-height: calc(100vh - 395px);
    }
}
