.product {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  @media only screen and (min-width: 580px) {
    flex-wrap: nowrap;
  }
}

.productHeader {
  display: flex;
  position: relative;
  width: 100%;
  @media only screen and (min-width: 580px) {
    flex: 1;
  }
}

.productInfo {
  margin-left: 10px;
}

.productName {
  display: block;
  margin-bottom: 0;
}

.productSKU {
  margin-top: 5px;
  display: block;
  color: #303030;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2.5rem;
  font-weight: 200;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  @media only screen and (min-width: 580px) {
    display: none;
  }
}

.productBody {
  display: flex;
  margin-top: 10px;
  width: 100%;
  @media only screen and (min-width: 580px) {
    margin-top: 0;
    flex: 2;
  }
}

.imageWrapper {
  flex: 1;
  @media only screen and (min-width: 580px) {
    max-width: 100px;
  }
}

.image {
  width: 100%;
}

.productInfo {
  flex: 2;
  @media only screen and (min-width: 580px) {
    flex: 1;
  }
}

.infoBlock {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.trash {
  display: none;
  @media only screen and (min-width: 580px) {
    display: flex;
  }
}

.trashIcon {
  width: 20px;
  cursor: pointer;
  &:hover {
    color: #ff9800;
  }
}

.infoBlockHeader {
  background: #eee;
  height: 30px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.selectQuantity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.button {
  padding: 5px 8px;
}

.quantity {
  width: 30px;
  text-align: center;
}

.price {
  display: flex;
  align-items: center;
}

.cartTotal {
  width: 100%;
  display: block;
  padding: 0.75rem;
  text-align: right;
  margin-top: 1.5rem;
  font-weight: bold;
  background-color: #eee;
}
